NEXT_PUBLIC_SUPABASE_URL=https://useqqkntmvqxmtunqlti.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVzZXFxa250bXZxeG10dW5xbHRpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1NzExMDgsImV4cCI6MjA5MDE0NzEwOH0.ZtmYZT02Bu9q1PlGTBRPnY0jPxIMzzrW6nQ9cwcu3hY